header {
  height: 400px;
  width: 100%;
  background-color: #ce9b31;
  background-image: url("../images/transparent-background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 