  .new-tweet {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  form {
    width: 100%;
  }

  form > * {
    padding: 0.8em 0;
  }

  input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 22px;
    font-weight: bold;
    outline: none;
    padding-top: 0;
   
  }

  .new-tweet-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Bungee", sans-serif;
    font-size: 16px;
    align-items: flex-start;
  }

  button {
    background-color: #4056a1;
    color: white;
    border: 0;
    padding: 0.5em;
  }

  .negative {
    color: red;
  }

