  article img {
    height: 3rem;
    width: auto;
    padding-right: 0.3rem;
  }

  article {
    border: 3px solid grey;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    padding: 0.5rem;
  }

  article:hover {
    box-shadow: 8px 11px 5px 1px #d0d7ec;
    font-weight: 700;
  }

  article:hover * .username {
    opacity: 1;
    color: #d0d7ec;
  }

  article header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;
  }

  .avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .username {
    display: flex;
    justify-content: flex-end;
    color: #b9bfd3;
  }

  .posted-tweets {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }

  .msg {
    border-bottom: 3px solid grey;
    padding: 1rem;
    font-size: 22px;
  }

  footer p {
    font-size: 16px;
    padding-left: 1rem;
  }

  article footer span {
    opacity: 0;
  }
  article:hover * #icons {
    opacity: 1;
    font-size: 14px;
    padding-right: 1rem;
    color: #4056a1;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
